
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Vercel
.vercel/

# Next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
